@page "/"

<div id="app">
   
    <style>
        .mud-chart-serie:hover {
            filter: url(#lighten);
        }
    </style>

   
    <style>
        :root {
            --mud-palette-black: #000000;
            --mud-palette-white: #FFFFFF;
            --mud-palette-primary: #1E88E5;
            --mud-palette-primary-rgb: 30,136,229;
            --mud-palette-primary-text: #FFFFFF;
            --mud-palette-primary-darken: rgb(23,116,198);
            --mud-palette-primary-lighten: rgb(64,154,233);
            --mud-palette-primary-hover: rgba(30,136,229, 0.06);
            --mud-palette-secondary: #7C4DFF;
            --mud-palette-secondary-rgb: 124,77,255;
            --mud-palette-secondary-text: #FFFFFF;
            --mud-palette-secondary-darken: rgb(96,39,255);
            --mud-palette-secondary-lighten: rgb(152,115,255);
            --mud-palette-secondary-hover: rgba(124,77,255, 0.06);
            --mud-palette-tertiary: #1EC8A5;
            --mud-palette-tertiary-rgb: 30,200,165;
            --mud-palette-tertiary-text: #FFFFFF;
            --mud-palette-tertiary-darken: rgb(25,167,138);
            --mud-palette-tertiary-lighten: rgb(45,223,187);
            --mud-palette-tertiary-hover: rgba(30,200,165, 0.06);
            --mud-palette-info: #2196F3;
            --mud-palette-info-text: #FFFFFF;
            --mud-palette-info-darken: rgb(12,131,226);
            --mud-palette-info-lighten: rgb(69,167,245);
            --mud-palette-info-hover: rgba(33,150,243, 0.06);
            --mud-palette-success: #06d79c;
            --mud-palette-success-text: #FFFFFF;
            --mud-palette-success-darken: rgb(5,178,129);
            --mud-palette-success-lighten: rgb(11,248,181);
            --mud-palette-success-hover: rgba(6,215,156, 0.06);
            --mud-palette-warning: #FF9800;
            --mud-palette-warning-text: #FFFFFF;
            --mud-palette-warning-darken: rgb(217,129,0);
            --mud-palette-warning-lighten: rgb(255,167,38);
            --mud-palette-warning-hover: rgba(255,152,0, 0.06);
            --mud-palette-error: #F44336;
            --mud-palette-error-text: #FFFFFF;
            --mud-palette-error-darken: rgb(242,33,18);
            --mud-palette-error-lighten: rgb(246,101,90);
            --mud-palette-error-hover: rgba(244,67,54, 0.06);
            --mud-palette-dark: #424242;
            --mud-palette-dark-text: #FFFFFF;
            --mud-palette-dark-darken: rgb(47,47,47);
            --mud-palette-dark-lighten: rgb(85,85,85);
            --mud-palette-dark-hover: rgba(66,66,66, 0.06);
            --mud-palette-text-primary: #424242;
            --mud-palette-text-secondary: rgba(0,0,0, 0.54);
            --mud-palette-text-disabled: rgba(0,0,0, 0.38);
            --mud-palette-action-default: rgba(0,0,0, 0.54);
            --mud-palette-action-default-hover: rgba(0,0,0, 0.06);
            --mud-palette-action-disabled: rgba(0,0,0, 0.26);
            --mud-palette-action-disabled-background: rgba(0,0,0, 0.12);
            --mud-palette-surface: #FFFFFF;
            --mud-palette-background: #FAFAFA;
            --mud-palette-background-grey: #F5F5F5;
            --mud-palette-drawer-background: #FFF;
            --mud-palette-drawer-text: rgba(0,0,0, 0.7);
            --mud-palette-drawer-icon: #616161;
            --mud-palette-appbar-background: #1E88E5;
            --mud-palette-appbar-text: #FFFFFF;
            --mud-palette-lines-default: rgba(0,0,0, 0.12);
            --mud-palette-lines-inputs: #BDBDBD;
            --mud-palette-table-lines: rgba(224,224,224, 1);
            --mud-palette-table-striped: rgba(0,0,0, 0.02);
            --mud-palette-table-hover: rgba(0,0,0, 0.04);
            --mud-palette-divider: #E0E0E0;
            --mud-palette-divider-light: rgba(0,0,0, 0.8);
            --mud-palette-grey-default: #9E9E9E;
            --mud-palette-grey-light: #BDBDBD;
            --mud-palette-grey-lighter: #E0E0E0;
            --mud-palette-grey-dark: #757575;
            --mud-palette-grey-darker: #616161;
            --mud-palette-overlay-dark: rgba(33,33,33, 0.5);
            --mud-palette-overlay-light: rgba(255,255,255, 0.5);
            --mud-elevation-0: none;
            --mud-elevation-1: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
            --mud-elevation-2: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
            --mud-elevation-3: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
            --mud-elevation-4: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
            --mud-elevation-5: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);
            --mud-elevation-6: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
            --mud-elevation-7: 0px 4px 5px -2px rgba(0,0,0,0.2),0px 7px 10px 1px rgba(0,0,0,0.14),0px 2px 16px 1px rgba(0,0,0,0.12);
            --mud-elevation-8: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
            --mud-elevation-9: 0px 5px 6px -3px rgba(0,0,0,0.2),0px 9px 12px 1px rgba(0,0,0,0.14),0px 3px 16px 2px rgba(0,0,0,0.12);
            --mud-elevation-10: 0px 6px 6px -3px rgba(0,0,0,0.2),0px 10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12);
            --mud-elevation-11: 0px 6px 7px -4px rgba(0,0,0,0.2),0px 11px 15px 1px rgba(0,0,0,0.14),0px 4px 20px 3px rgba(0,0,0,0.12);
            --mud-elevation-12: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12);
            --mud-elevation-13: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 13px 19px 2px rgba(0,0,0,0.14),0px 5px 24px 4px rgba(0,0,0,0.12);
            --mud-elevation-14: 0px 7px 9px -4px rgba(0,0,0,0.2),0px 14px 21px 2px rgba(0,0,0,0.14),0px 5px 26px 4px rgba(0,0,0,0.12);
            --mud-elevation-15: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);
            --mud-elevation-16: 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
            --mud-elevation-17: 0px 8px 11px -5px rgba(0,0,0,0.2),0px 17px 26px 2px rgba(0,0,0,0.14),0px 6px 32px 5px rgba(0,0,0,0.12);
            --mud-elevation-18: 0px 9px 11px -5px rgba(0,0,0,0.2),0px 18px 28px 2px rgba(0,0,0,0.14),0px 7px 34px 6px rgba(0,0,0,0.12);
            --mud-elevation-19: 0px 9px 12px -6px rgba(0,0,0,0.2),0px 19px 29px 2px rgba(0,0,0,0.14),0px 7px 36px 6px rgba(0,0,0,0.12);
            --mud-elevation-20: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 20px 31px 3px rgba(0,0,0,0.14),0px 8px 38px 7px rgba(0,0,0,0.12);
            --mud-elevation-21: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 21px 33px 3px rgba(0,0,0,0.14),0px 8px 40px 7px rgba(0,0,0,0.12);
            --mud-elevation-22: 0px 10px 14px -6px rgba(0,0,0,0.2),0px 22px 35px 3px rgba(0,0,0,0.14),0px 8px 42px 7px rgba(0,0,0,0.12);
            --mud-elevation-23: 0px 11px 14px -7px rgba(0,0,0,0.2),0px 23px 36px 3px rgba(0,0,0,0.14),0px 9px 44px 8px rgba(0,0,0,0.12);
            --mud-elevation-24: 0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
            --mud-elevation-25: 0 5px 5px -3px rgba(0,0,0,.06), 0 8px 10px 1px rgba(0,0,0,.042), 0 3px 14px 2px rgba(0,0,0,.036);
            --mud-default-borderradius: 3px;
            --mud-drawer-width-left: 240px;
            --mud-drawer-width-right: 240px;
            --mud-appbar-min-height: 64px;
            --mud-typography-default-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-default-size: .875rem;
            --mud-typography-default-weight: 400;
            --mud-typography-default-lineheight: 1.43;
            --mud-typography-default-letterspacing: .01071em;
            --mud-typography-h1-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-h1-size: 6rem;
            --mud-typography-h1-weight: 300;
            --mud-typography-h1-lineheight: 1.167;
            --mud-typography-h1-letterspacing: -.01562em;
            --mud-typography-h2-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-h2-size: 3.75rem;
            --mud-typography-h2-weight: 300;
            --mud-typography-h2-lineheight: 1.2;
            --mud-typography-h2-letterspacing: -.00833em;
            --mud-typography-h3-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-h3-size: 3rem;
            --mud-typography-h3-weight: 400;
            --mud-typography-h3-lineheight: 1.167;
            --mud-typography-h3-letterspacing: 0;
            --mud-typography-h4-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-h4-size: 2.125rem;
            --mud-typography-h4-weight: 400;
            --mud-typography-h4-lineheight: 1.235;
            --mud-typography-h4-letterspacing: .00735em;
            --mud-typography-h5-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-h5-size: 1.5rem;
            --mud-typography-h5-weight: 400;
            --mud-typography-h5-lineheight: 1.334;
            --mud-typography-h5-letterspacing: 0;
            --mud-typography-h6-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-h6-size: 1.25rem;
            --mud-typography-h6-weight: 400;
            --mud-typography-h6-lineheight: 1.6;
            --mud-typography-h6-letterspacing: .0075em;
            --mud-typography-subtitle1-family: 'Roboto','Helvetica','Arial','sans-serif';
            --mud-typography-subtitle1-size: 1rem;
            --mud-typography-subtitle1-weight: 400;
            --mud-typography-subtitle1-lineheight: 1.75;
            --mud-typography-subtitle1-letterspacing: .00938em;
            --mud-typography-subtitle2-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-subtitle2-size: .875rem;
            --mud-typography-subtitle2-weight: 500;
            --mud-typography-subtitle2-lineheight: 1.57;
            --mud-typography-subtitle2-letterspacing: .00714em;
            --mud-typography-body1-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-body1-size: 1rem;
            --mud-typography-body1-weight: 400;
            --mud-typography-body1-lineheight: 1.5;
            --mud-typography-body1-letterspacing: .00938em;
            --mud-typography-body2-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-body2-size: .875rem;
            --mud-typography-body2-weight: 400;
            --mud-typography-body2-lineheight: 1.43;
            --mud-typography-body2-letterspacing: .01071em;
            --mud-typography-button-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-button-size: .875rem;
            --mud-typography-button-weight: 500;
            --mud-typography-button-lineheight: 1.75;
            --mud-typography-button-letterspacing: .02857em;
            --mud-typography-caption-family: 'Montserrat','Helvetica','Arial','sans-serif';
            --mud-typography-caption-size: .75rem;
            --mud-typography-caption-weight: 400;
            --mud-typography-caption-lineheight: 1.66;
            --mud-typography-caption-letterspacing: .03333em;
            --mud-typography-overline-family: 'Roboto','Helvetica','Arial','sans-serif';
            --mud-typography-overline-size: .75rem;
            --mud-typography-overline-weight: 400;
            --mud-typography-overline-lineheight: 2.66;
            --mud-typography-overline-letterspacing: .08333em;
            --mud-zindex-drawer: 1100;
            --mud-zindex-appbar: 1200;
            --mud-zindex-dialog: 1300;
            --mud-zindex-popover: 1400;
            --mud-zindex-snackbar: 1500;
            --mud-zindex-tooltip: 1600;
        }
    </style>
   
    
   <div id="mud-snackbar-container" class="mud-snackbar-location-top-right"></div><!--!-->
    <div class="mud-layout mud-drawer-open-responsive-md-left mud-drawer-clipped-always">
       <div class="mud-main-content">
            <!--!--><!--!--><div class="mud-toolbar">
                <!--!--><!--!--><button type="button" class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon ml-3" _bl_191=""><span class="mud-icon-button-label"><!--!--><svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><!--!--><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg></span></button><!--!-->
                <!--!--><!--!--><ul class="mud-breadcrumbs mud-typography-body1"><!--!--><li class="mud-breadcrumb-item"><a href="#">Personal</a></li><!--!--><li class="mud-breadcrumb-separator"><span>/</span></li><!--!--><li class="mud-breadcrumb-item"><a href="#">Dashboard</a></li></ul><!--!-->
                <div class="flex-grow-1"></div>
               <a type="button" href="https://mudblazor.com/" class="mud-button-root mud-button mud-button-text mud-button-text-default mud-button-text-size-medium mud-ripple" style="color:#594AE2;" _bl_192=""><span class="mud-button-label">MudBlazor</span></a><!--!-->
                <a type="button" href="https://github.com/Garderoben/MudBlazor.Templates" class="mud-button-root mud-button mud-button-text mud-button-text-default mud-button-text-size-medium mud-ripple mr-3" style="color:#424242;" _bl_193=""><span class="mud-button-label">Source Code</span></a>
            </div><!--!-->
            <!--!--><div class="mud-container mud-container-maxwidth-false mt-4">
                <!--!--><!--!--><h5 class="mud-typography mud-typography-h5 mud-primary-text mb-4">Dashboard</h5><!--!-->
                <!--!--><!--!--><div class="mud-grid mud-grid-spacing-xs-3 mud-grid-justify-xs-flex-start">
                    <!--!--><div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-6 mud-grid-item-md-3">
                        <!--!--><div class="mud-paper mud-elevation-25 d-flex flex-row pt-6 pb-4" style="height:100px;;">
                            <!--!--><svg class="mud-icon-root mud-svg-icon mud-primary-text mud-icon-size-medium mx-4" style="width:54px; height:54px;" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><!--!--><g><rect fill="none" height="24" width="24"></rect></g><g><g></g><path d="M15,18.5c-2.51,0-4.68-1.42-5.76-3.5H15l1-2H8.58c-0.05-0.33-0.08-0.66-0.08-1s0.03-0.67,0.08-1H15l1-2H9.24 C10.32,6.92,12.5,5.5,15,5.5c1.61,0,3.09,0.59,4.23,1.57L21,5.3C19.41,3.87,17.3,3,15,3c-3.92,0-7.24,2.51-8.48,6H3l-1,2h4.06 C6.02,11.33,6,11.66,6,12s0.02,0.67,0.06,1H3l-1,2h4.52c1.24,3.49,4.56,6,8.48,6c2.31,0,4.41-0.87,6-2.3l-1.78-1.77 C18.09,17.91,16.62,18.5,15,18.5z"></path></g></svg><!--!-->
                            <div>
                                <!--!--><h6 class="mud-typography mud-typography-subtitle1 mud-inherit-text mud-text-secondary mb-n1">Total Cost</h6><!--!-->
                                <!--!--><h5 class="mud-typography mud-typography-h5 mud-inherit-text">3,125,000</h5>
                            </div>
                        </div>
                    </div><!--!-->
                    <!--!--><div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-6 mud-grid-item-md-3">
                        <!--!--><div class="mud-paper mud-elevation-25 d-flex flex-row pt-6 pb-4" style="height:100px;;">
                            <!--!--><svg class="mud-icon-root mud-svg-icon mud-secondary-text mud-icon-size-medium mx-4" style="width:54px; height:54px;" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><!--!--><path d="M0 0h24v24H0z" fill="none"></path><path d="M11.99 18.54l-7.37-5.73L3 14.07l9 7 9-7-1.63-1.27-7.38 5.74zM12 16l7.36-5.73L21 9l-9-7-9 7 1.63 1.27L12 16z"></path></svg><!--!-->
                            <div>
                                <!--!--><h6 class="mud-typography mud-typography-subtitle1 mud-inherit-text mud-text-secondary mb-n1">Graphite on roof</h6><!--!-->
                                <!--!--><h5 class="mud-typography mud-typography-h5 mud-inherit-text">150,000</h5>
                            </div>
                        </div>
                    </div><!--!-->
                    <!--!--><div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-6 mud-grid-item-md-3">
                        <!--!--><div class="mud-paper mud-elevation-25 d-flex flex-row pt-6 pb-4" style="height:100px;;">
                            <!--!--><svg class="mud-icon-root mud-svg-icon mud-success-text mud-icon-size-medium mx-4" style="width:54px; height:54px;" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><!--!--><path d="M0 0h24v24H0z" fill="none"></path><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z"></path></svg><!--!-->
                            <div>
                                <!--!--><h6 class="mud-typography mud-typography-subtitle1 mud-inherit-text mud-text-secondary mb-n1">Global Spread</h6><!--!-->
                                <!--!--><h5 class="mud-typography mud-typography-h5 mud-inherit-text">12%</h5>
                            </div>
                        </div>
                    </div><!--!-->
                    <!--!--><div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-6 mud-grid-item-md-3">
                        <!--!--><div class="mud-paper mud-elevation-25 d-flex flex-row pt-6 pb-4" style="height:100px;;">
                            <!--!--><svg class="mud-icon-root mud-svg-icon mud-warning-text mud-icon-size-medium mx-4" style="width:54px; height:54px;" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><!--!--><path d="M12 10a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2m0 12c-1.95 0-3.78-.56-5.31-1.53l3.31-5a4.037 4.037 0 0 0 4 0l3.31 5A9.903 9.903 0 0 1 12 22M2 12c0-4.14 2.5-7.7 6.11-9.22l2.23 5.58A4.008 4.008 0 0 0 8 12H2m14 0c0-1.62-.96-3-2.34-3.64l2.23-5.58A9.985 9.985 0 0 1 22 12h-6z"></path></svg><!--!-->
                            <div>
                                <!--!--><h6 class="mud-typography mud-typography-subtitle1 mud-inherit-text mud-text-secondary mb-n1">Roentgen</h6><!--!-->
                                <!--!--><h5 class="mud-typography mud-typography-h5 mud-inherit-text">3,6</h5>
                            </div>
                        </div>
                    </div><!--!-->
                    <!--!--><div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-8">
                        <!--!--><div class="mud-paper mud-elevation-25 pa-4" style="height:300px;;">
                            <!--!-->
                            Charts comming soon ish...
                        </div>
                    </div><!--!-->
                    <!--!--><div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-4">
                        <!--!--><div class="mud-paper mud-elevation-25 pa-4" style="height:300px;;">
                            <!--!-->
                            Charts comming soon ish...
                        </div>
                    </div><!--!-->
                    <!--!--><div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-12 mud-grid-item-md-6">
                        <!--!--><!--!--><div class="mud-paper mud-elevation-25 mud-card" style="height:100%;;">
                            <!--!--><div class="mud-card-header"><div class="mud-card-header-content"><!--!--><h6 class="mud-typography mud-typography-h6 mud-inherit-text">Earning Report</h6></div></div><!--!-->
                            <!--!--><div class="mud-card-content px-0">
                                <!--!--><div class="mud-table mud-simple-table mud-table-hover mud-elevation-0">
                                    <div class="mud-table-container">
                                        <table>
                                            <!--!-->
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Priority</th>
                                                    <th>Earnings</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex flex-row">
                                                            <!--!--><div class="mud-avatar mud-avatar-medium mud-theme-default mud-elevation-25"><img src="https://avatars2.githubusercontent.com/u/10367109?s=460&amp;amp;u=2abf95f9e01132e8e2915def42895ffe99c5d2c6&amp;amp;v=4" class="mud-avatar-img"></div><!--!-->
                                                            <div class="ml-6">
                                                                <!--!--><h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text">Garderoben</h6><!--!-->
                                                                <!--!--><p class="mud-typography mud-typography-body2 mud-inherit-text">CSS Magician</p>
                                                            </div>
                                                        </div>
                                                    </td><!--!-->
                                                    <td><!--!--><div class="mud-chip mud-chip-filled mud-chip-size-small mud-chip-color-primary mud-chip-label ml-auto mud-elevation-25"><span class="mud-chip-content">High</span></div></td><!--!-->
                                                    <td><!--!--><p class="mud-typography mud-typography-body1 mud-inherit-text">$1337</p></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex flex-row">
                                                            <!--!--><div class="mud-avatar mud-avatar-medium mud-theme-default mud-elevation-25"><img src="https://avatars2.githubusercontent.com/u/71094850?s=460&amp;u=66c16f5bb7d27dc751f6759a82a3a070c8c7fe4b&amp;v=4" class="mud-avatar-img"></div><!--!-->
                                                            <div class="ml-6">
                                                                <!--!--><h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text">Lunees</h6><!--!-->
                                                                <!--!--><p class="mud-typography mud-typography-body2 mud-inherit-text">Reactor Engineer</p>
                                                            </div>
                                                        </div>
                                                    </td><!--!-->
                                                    <td><!--!--><div class="mud-chip mud-chip-filled mud-chip-size-small mud-chip-color-success mud-chip-label ml-auto mud-elevation-25"><span class="mud-chip-content">Low</span></div></td><!--!-->
                                                    <td><!--!--><p class="mud-typography mud-typography-body1 mud-inherit-text">$0.99</p></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex flex-row">
                                                            <!--!--><div class="mud-avatar mud-avatar-medium mud-theme-default mud-elevation-25"><img src="https://avatars.githubusercontent.com/u/16208742?s=120&amp;v=4" class="mud-avatar-img"></div><!--!-->
                                                            <div class="ml-6">
                                                                <!--!--><h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text">Mikes-gh</h6><!--!-->
                                                                <!--!--><p class="mud-typography mud-typography-body2 mud-inherit-text">Developer</p>
                                                            </div>
                                                        </div>
                                                    </td><!--!-->
                                                    <td><!--!--><div class="mud-chip mud-chip-filled mud-chip-size-small mud-chip-color-secondary mud-chip-label ml-auto mud-elevation-25"><span class="mud-chip-content">Medium</span></div></td><!--!-->
                                                    <td><!--!--><p class="mud-typography mud-typography-body1 mud-inherit-text">$19.12K</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--!-->
                    <!--!--><div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-12 mud-grid-item-md-6">
                        <!--!--><!--!--><div class="mud-paper mud-elevation-25 mud-card" style="height:100%;;">
                            <!--!--><div class="mud-card-header"><div class="mud-card-header-content"><!--!--><h6 class="mud-typography mud-typography-h6 mud-inherit-text">Recent incidents</h6></div></div><!--!-->
                            <!--!--><div class="mud-card-content px-0">
                                <!--!--><div class="mud-list mud-list-padding">
                                    <!--!--><!--!--><div class="mud-list-item mud-list-item-gutters mud-list-item-clickable mud-ripple">
                                        <div class="mud-list-item-text ">
                                            <!--!--><p class="mud-typography mud-typography-body1 mud-inherit-text">
                                                <div class="d-flex flex-row">
                                                    <!--!--><div class="mud-avatar mud-avatar-medium mud-theme-default mud-elevation-25"><!--!--><svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium mx-4" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><!--!--><path d="M12 .3a12 12 0 0 0-3.8 23.4c.6.1.8-.3.8-.6v-2c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.8-1.4-1.8-1-.7.1-.7.1-.7 1.2 0 1.9 1.2 1.9 1.2 1 1.8 2.8 1.3 3.5 1 0-.8.4-1.3.7-1.6-2.7-.3-5.5-1.3-5.5-6 0-1.2.5-2.3 1.3-3.1-.2-.4-.6-1.6 0-3.2 0 0 1-.3 3.4 1.2a11.5 11.5 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8 0 3.2.9.8 1.3 1.9 1.3 3.2 0 4.6-2.8 5.6-5.5 5.9.5.4.9 1 .9 2.2v3.3c0 .3.1.7.8.6A12 12 0 0 0 12 .3"></path></svg></div><!--!-->
                                                    <div class="ml-6">
                                                        <!--!--><h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text">Issues rising</h6><!--!-->
                                                        <!--!-->
                                            <p class="mud-typography mud-typography-body2 mud-inherit-text">Issues is almost reaching 100</p>
                                        </div><!--!-->
                                        <!--!--><div class="mud-chip mud-chip-filled mud-chip-size-small mud-chip-color-error mud-chip-label ml-auto mud-elevation-25"><span class="mud-chip-content">Danger</span></div>
                                    </div></p>
                                </div>
                            </div><!--!-->
                            <!--!--><div class="mud-list-item mud-list-item-gutters mud-list-item-clickable mud-ripple">
                                <div class="mud-list-item-text ">
                                    <!--!--><p class="mud-typography mud-typography-body1 mud-inherit-text">
                                        <div class="d-flex flex-row">
                                            <!--!--><div class="mud-avatar mud-avatar-medium mud-theme-default mud-elevation-25"><!--!--><svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium mx-4" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><!--!--><path d="M12 10a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2m0 12c-1.95 0-3.78-.56-5.31-1.53l3.31-5a4.037 4.037 0 0 0 4 0l3.31 5A9.903 9.903 0 0 1 12 22M2 12c0-4.14 2.5-7.7 6.11-9.22l2.23 5.58A4.008 4.008 0 0 0 8 12H2m14 0c0-1.62-.96-3-2.34-3.64l2.23-5.58A9.985 9.985 0 0 1 22 12h-6z"></path></svg></div><!--!-->
                                            <div class="ml-6">
                                                <!--!--><h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text">Incident in plant number 4</h6><!--!-->
                                                <!--!-->
                                    <p class="mud-typography mud-typography-body2 mud-inherit-text">Fire in reactor core</p>
                                </div><!--!-->
                                <!--!--><div class="mud-chip mud-chip-filled mud-chip-size-small mud-chip-color-info mud-chip-label ml-auto mud-elevation-25"><span class="mud-chip-content">Minor</span></div>
                            </div></p>
                        </div>
                    </div><!--!-->
                    <!--!--><div class="mud-list-item mud-list-item-gutters mud-list-item-clickable mud-ripple">
                        <div class="mud-list-item-text ">
                            <!--!--><p class="mud-typography mud-typography-body1 mud-inherit-text">
                                <div class="d-flex flex-row">
                                    <!--!--><div class="mud-avatar mud-avatar-medium mud-theme-default mud-elevation-25"><!--!--><svg class="mud-icon-root mud-svg-icon mud-inherit-text mud-icon-size-medium mx-4" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><!--!--><path d="M0 0h24v24H0z" fill="none"></path><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path></svg></div><!--!-->
                                    <div class="ml-6">
                                        <!--!--><h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text">Occupational injury</h6><!--!-->
                                        <!--!-->
                            <p class="mud-typography mud-typography-body2 mud-inherit-text">Employee broke a finger while writing some code</p>
                        </div><!--!-->
                        <!--!--><div class="mud-chip mud-chip-filled mud-chip-size-small mud-chip-color-success mud-chip-label ml-auto mud-elevation-25"><span class="mud-chip-content">Dismissed</span></div>
                    </div></p>
                </div>
            </div>
        </div>
    </div>
</div></div></div></div></div></div>
</div>