


<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link" href="/Test" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="false"></span> Not Home
        </NavLink>
        <NavLink class="nav-link" href="/ConfigBot" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="false"></span> Config Bot
        </NavLink>
    </li>
</ul>


@code {

}
