html,
body {
    background: transparent;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
body {
    color: inherit;
    font: 14px Arial,'Helvetica Neue',Helvetica,sans-serif;
    line-height: 1;
    min-height: 0;
    text-align: left;
    text-align: start;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.video_selectors {
    position: absolute;
    top: 7px;
    left: 6px;
    z-index: 100;
}
.video_selectors .nice-select {
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    margin: 3px 4px;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    background-color: #172322;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-size: 14px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
}
.video_selectors .nice-select:after {
    background: url(https://shizahd.ru/img/select-icon.svg) no-repeat;
    background-size: 9px 6px;
    right: 12px;
    top: 50%;
    content: '';
    display: block;
    margin-top: -3px;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 9px;
    height: 6px;
}
.video_selectors .nice-select .list {
    background-color: #172322;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 3px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    /*    -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
        transform: scale(0.75) translateY(-21px);*/
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    max-height: 180px;
    overflow-y: auto;
}
.video_selectors .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 36px;
    list-style: none;
    min-height: 36px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.video_selectors .nice-select.open {
    box-shadow: 0 0 0 2px #00adef;
}
.video_selectors .nice-select.open:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.video_selectors .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    /*    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);*/
}
.video_selectors .nice-select:hover {
    box-shadow: 0 0 0 2px #00adef;
}
.video_selectors .nice-select .option:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.video_selectors .nice-select .option.focus,
.video_selectors .nice-select .option.selected.focus {
    background-color: rgba(255, 255, 255, 0.1);
}
.video_selectors select {
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: #172322 url(https://shizahd.ru/img/select-icon.svg) no-repeat top 50% right 12px;
    background-size: 9px 6px;
    color: #fff;
    cursor: pointer;
    margin: 3px 4px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    transition: box-shadow .25s ease-out;
}
.video_selectors select:focus {
    box-shadow: 0 0 0 2px #00adef;
}

.save_holder {
    display: block;
    position: absolute;
    bottom: 35px;
    text-align: center;
    z-index: 100;
}

.save_holder a {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: #172322;
    color: #fff;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
    transition: box-shadow .25s ease-out;
}

.save_holder a:hover {
    box-shadow: 0 0 0 2px #00adef;
}

.save_holder_sting {
    color: #fff;
    font-size: 14px;
    margin-top: 4px;
}

@media only screen and (max-width: 767px) {
    .video_selectors {
        margin: -2px -2px;
    }
    .video_selectors .nice-select {
        margin: 2px 2px;
        line-height: 30px;
        height: 30px;
        padding-left: 14px;
        padding-right: 24px;
    }
    .video_selectors .nice-select:after {
        width: 8px;
        height: 5px;
        background-size: 8px 5px;
        right: 9px;
        margin-top: -2px;
    }
    .video_selectors .nice-select .list {
        max-height: 120px;
        overflow-y: auto;
    }
    .video_selectors .nice-select .option {
        line-height: 30px;
        min-height: 30px;
        padding-left: 14px;
        padding-right: 24px;
    }
    .video_selectors select {
        background: #172322 url(/img/select-icon.svg) no-repeat top 50% right 9px;
        background-size: 8px 5px;
        margin: 2px 2px;
        height: 30px;
        line-height: 30px;
        padding-left: 14px;
        padding-right: 24px;
    }
}

.player {
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    font-size: 100%;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    background-color: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1;
}